    * {
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-size: 1vw;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        /* removing auto added padding */
    }

    .navbar {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        width: 100%;
        z-index: 10;
        background: transparent;
    }

    .navbar a {
        color: white;
        text-align: center;
        font-size: 1.4vw;
        margin-right: 3%;
        margin-top: 3%;
    }

    #slideshow {
        overflow: hidden;
        height: 100vh;
        width: 100%;
        margin: 0 auto; /* top right bottom left */
        position: relative;
    }

    #slideshow input[type="radio"] {
        display: none;
    }

    .slide-wrapper {
        display: flex;
        width: 400%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .slide {
        width: 25%;
        height: 100%;
        flex-shrink: 0;
        position: relative;
    }

    .game-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .game-logo {
        width: 25vw;
        height: auto;
        display: block;
    }

    details {
        position: absolute;
        left: 10%;
        top: 20%;
        z-index: 20;
        color: white;
    }

    summary {
        cursor: pointer;
        list-style: none;
    }

    .slide-buttons {
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;

        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .slide-buttons label {
        width: 2vw;
        height: 2vw;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #7D7D97;
        color: white;

        cursor: pointer;
        border-radius: 10%;
    }

    #slide1:checked~.slide-wrapper {
        transform: translateX(0);
    }

    #slide2:checked~.slide-wrapper {
        transform: translateX(-25%);
    }

    #slide3:checked~.slide-wrapper {
        transform: translateX(-50%);
    }

    #slide4:checked~.slide-wrapper {
        transform: translateX(-75%);
    }

    .slide-buttons label:hover {
        background: #666699;
        color: white;
    }

    #slide1:checked~.slide-buttons label[for="slide1"],
    #slide2:checked~.slide-buttons label[for="slide2"],
    #slide3:checked~.slide-buttons label[for="slide3"],
    #slide4:checked~.slide-buttons label[for="slide4"],
    #slide5:checked~.slide-buttons label[for="slide5"] {
        background: #666699;
        color: white;
        border-style: solid;
        border-width: 0.1vmin;
        border-color: black;
    }

    /* Phones, portrait tablets, large phones */
    @media screen and (max-width:768px) {
        .navbar {
            flex-direction: column;
        }

        .slide-buttons {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    /* Landscape tablets */
    @media only screen and (min-width: 768px) {}

    /* Laptops/desktops and large laptops/desktops */
    @media only screen and (min-width: 992px) {}

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {}